#navbar {
    display: grid;
    margin-top: 3%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 
}

.navText {
    font-size: 80%;
    font-family: "Montserrat";
    color: rgb(36, 37, 37);
    text-transform: uppercase;
    line-height: 1.538;
    font-weight: bolder;
}


.search {
    height: 80%;
    width: 45%
}



